apiai==1.2.3
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.3.9
cffi==1.13.2
chardet==3.0.4
Click==7.0
ngrok==0.0.1
pandas==0.25.3
pipenv==2018.11.26
psycopg2==2.8.4
pycparser==2.19
pymessenger==0.0.7.0
python-dateutil==2.8.1
python-telegram-bot==12.2.0
pytz==2019.3
requests==2.21.0
requests-toolbelt==0.9.1
six==1.12.0
soupsieve==1.9.5
tornado==6.0.3
tzlocal==2.0.0
urllib3==1.26.5
virtualenv==16.7.8
virtualenv-clone==0.5.3
Werkzeug==0.15.3
